# VSCode
.vscode/


# Quartus Prime output files
output_files/
*.rpt
*.chg
*.smsg
*.htm
*.eqn
*.pin
*.sof
*.pof
*.qws
*.qws.tdb
*.summary
*.qdb
*.done
*.qel
*.qws.eda
*.qdf
*.qdz
*.qws.sta
*.qws.mrp
*.qws.bak
*.log
*.jdi
*.done_qdb
db
*.dpf
*.bak
*.sopcinfo
*.sopc_builder_log
*.ipxact
*.vho
*.xml
*.ip
*.rpt
*.rpd
*.qip
*.txt
*.cof
*.elf
*.vqm
*.hex
*.mif
*.ttf
*.css
*.svg

# ModelSim output files
*.vstf
*.wlf
*.hex
*.do
*.mti
*.sdo
*.ucdb

# SystemVerilog & VHDL output files
*.log
*.jou
*.rpt
*.pvl
*.syn
*.mrp
*.mif
*.hex
*.o
*.d
*.obj
*.exe
*.dll
*.so
*.out
*.bak

# Windows files
Thumbs.db
*.stackdump

# Project files
db/
incremental_db/
simulation/
*.qsf~
*.qws~
*.tcl~
*.sopcinfo
*.ipxact
*.ip
*.qip
*.qsys
*_hw.tcl
*_sw.tcl

# Temp files
*~
.#*
*.swp
